@import '~antd/dist/antd.css';

.cardStyle{
    border-radius: 10px;
    background:#1d1d2e !important;
    color: white ;
    box-shadow: 0 2px 8px 0 rgba(255,255,255,0.5);
    margin: 10px !important;
}

.tlpStyle{
    text-align:center
}

.page-content{
    padding:10px
}
.ant-card-body{
    padding: 10px;
}
.ant-card-head-title{
    color:white;
    text-align: center;
}